// services
.services {

    &__title {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #384145;
        margin-bottom: 20px;

        svg {
            margin-right: 7px;
        }
        &.big {
            font-size: 16px;
            @include font-bold;
        }
    }

}
// for slider
.services__wrapper {
    position: relative;
    width: 100%;
}

// for grid
.services__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 35px;
    column-gap: 40px;
    
    @include mediaMax( 1500px) {
        row-gap: 25px;
        column-gap: 30px;
    }
    @include mediaMax( 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mediaMax(900px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mediaMax( 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}