
// -- cover div
@mixin abs-whole {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// pseudo after at bot
@mixin after-bottom {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
}

// Box shadow 
@mixin shadow-dark {
    box-shadow: 0 0 17px rgba(#000 , .015);
}
// font 
@mixin font-bold{
    font-family: 'helvet-bold', sans-serif;
}
// Flex-boxes
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}


// Media Query
@mixin mediaMax($width) {
    @media only screen and ( max-width: $width) { @content }
}